/* CSS */

.topbar-centered {
  justify-content: right; 
}

.topbar-left {
  align-items: center;
}

.topbar-app-name,
.topbar-heading {
  text-align: center;
}
.user-info-topbar{
  margin-left: 500px;
}